label,
legend
  color: inherit
  display: block
  font-size: .75em
  letter-spacing: .1em
  margin: 0
  text-overflow: ellipsis
  text-transform: uppercase
  user-select: none

label
  + input[type="email"],
  + input[type="password"],
  + input[type="text"],
  + input[type="search"],
  + input[type="tel"],
  + input[type="url"],
  + select,
  + textarea
    margin: .25rem 0 2rem 0

  + label
    margin: 2rem 0 0 0

input[type="checkbox"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="radio"],
input[type="text"],
input[type="tel"],
input[type="url"],
select,
textarea
  -moz-appearance: none
  -webkit-appearance: none
  -ms-appearance: none
  appearance: none

input[type="checkbox"],
input[type="radio"]

  display: none

  + label
    cursor: pointer
    display: block
    line-height: 1.25em
    margin: .5rem 0

  + label:before
    border: 1px solid
    content: ""
    display: inline-block
    height: 1.25em
    line-height: 1.25em
    margin-right: 1rem
    width: 1.25em
    vertical-align: top

  &:checked + label:before
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3Csvg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"/%3E%3C/svg%3E') center / .8em no-repeat

input[type="radio"] + label:before 
  border-radius: 100%

input[type="email"],
input[type="password"],
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea
  border: 1px solid
  color: inherit
  display: block
  font: inherit
  font-size: .75em
  outline: 0
  text-decoration: none
  width: 100%

input[type="email"],
input[type="password"],
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
select
  height: 2.5em
  line-height: 2.5em
  padding: 0 .75em

fieldset
  border: 1px solid
  margin: 0 0 2rem 0

select
  background: transparent url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3Csvg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1683 808l-742 741q-19 19-45 19t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19 45-19t45 19l531 531 531-531q19-19 45-19t45 19l166 165q19 19 19 45.5t-19 45.5z"/%3E%3C/svg%3E') calc(100% - 1.125em) center / .66em no-repeat
  cursor: pointer
  padding-right: 2.75em
  text-overflow: ellipsis

  &:focus::-ms-value
    background-color: transparent

  &::-ms-expand
    display: none

  option
    font: inherit

textarea
  padding: .5em 1em